/* Стилі для форми */
#forms {
  width: 300px; /* Змініть ширину форми на ваш вибір */
  margin: 0 auto; /* Вирівняти форму по центру */
}

/* Стилі для входу ПІБ */
#forms input[type="text"],
#forms input[type="number"],
#forms textarea,
#forms select {
  width: 100%; /* Займати всю доступну ширину */
  margin-bottom: 10px; /* Додати проміжок між елементами */
  padding: 5px; /* Додати відступи */
  box-sizing: border-box; /* Зберігати ширину і висоту елемента, включаючи падіння та кордон */
}

/* Стилі для кнопки */
#forms button[type="submit"] {
  width: 100%; /* Займати всю доступну ширину */
  padding: 10px; /* Додати відступи */
  background-color: #007bff; /* Змініть колір фону на ваш вибір */
  color: #fff; /* Змініть колір тексту на ваш вибір */
  border: none; /* Видалити рамку */
  cursor: pointer; /* Змінити курсор на покажчик при наведенні */
}

/* Стилі для кнопки при наведенні */
#forms button[type="submit"]:hover {
  background-color: #0056b3; /* Змініть колір фону при наведенні на ваш вибір */
}
