body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: aqua;
}

#categories,
#products,
#product-info,
#orders {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #ab1e1e;
  border: 1px solid #20c01a;
  border-radius: 4px;
}

.product {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #ab1e1e;
  border: 1px solid #20c01a;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #20c01a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#products {
  display: none;
}

#product-image {
  width: 250px;
  display: none;
}
.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
#forms {
  width: 300px; /* Змініть ширину форми на ваш вибір */
  margin: 0 auto; /* Вирівняти форму по центру */
}

/* Стилі для входу ПІБ */
#forms input[type="text"],
#forms input[type="number"],
#forms textarea,
#forms select {
  width: 100%; /* Займати всю доступну ширину */
  margin-bottom: 10px; /* Додати проміжок між елементами */
  padding: 5px; /* Додати відступи */
  box-sizing: border-box; /* Зберігати ширину і висоту елемента, включаючи падіння та кордон */
}

/* Стилі для кнопки */
#forms button[type="submit"] {
  width: 100%; /* Займати всю доступну ширину */
  padding: 10px; /* Додати відступи */
  background-color: #007bff; /* Змініть колір фону на ваш вибір */
  color: #fff; /* Змініть колір тексту на ваш вибір */
  border: none; /* Видалити рамку */
  cursor: pointer; /* Змінити курсор на покажчик при наведенні */
}

/* Стилі для кнопки при наведенні */
#forms button[type="submit"]:hover {
  background-color: #0056b3; /* Змініть колір фону при наведенні на ваш вибір */
}
#order-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
  display: none;
}
