* {
  margin: 0px;
}

html,
body {
  font-size: 18px;
  background-color: bisque;
}

.container {
  max-width: 80%;
  margin: 30px auto;
  background: grey;
  padding: 20px;
}

button {
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 0.8em;
}

button:hover {
  background: orangered;
}

button:active {
  background: #000;
  color: #fff;
}

.slider {
  border: 2px solid #000;
  max-width: 1000px;
  max-height: 600px;
  margin: 20px auto;
  overflow: hidden;
}

img {
  max-width: 1050px;
  max-height: 600px;
  object-fit: cover;
}

.slider__item {
  display: flex;
  transition: all ease 1s;
}
