body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#weather-widget {
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
}

#weather-info img {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 7px;
  cursor: pointer;
}
